body {
    background-color: whitesmoke;
}

td {
    /* border: 2px solid; */
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    padding-top: 3px;
    padding-bottom: 3px;
}

#total {
    font-weight: bold;
}

#num {
    font-weight: bold;
    color: darkblue;
}

#india {
    background-color: lightgray;
}

h1 {
    margin-left: 100px;
}

table {
    border: 2px solid;
    margin-left: 100px;
    width: 800px;
    text-align: center;
    border-collapse: collapse;
}

.cname {
    text-align: left;
}

.dotGold {
    height: 2.5px;
    width: 20px;
    background-color: gold;
    border-radius: 10px;
}

.dotSilver {
    height: 16px;
    width: 20px;
    background-color: silver;
    border-radius: 16px;
    display: inline-block;
}

.dotBronze {
    height: 1px;
    width: 20px;
    background-color: rgb(221, 75, 75);
    border-radius: 12px;
}